﻿@using AppWeaver.WebApp.Domain
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
@if (Request.IsAuthenticated)
{
    <h2>Yours Snippets</h2>
    if (ViewBag.Snippets == null || ViewBag.Snippets.Count == 0)
    {
        <div>You dont have any snippet!</div>
    }
    else
    {
        <ul>
            @foreach (var snippet in ViewBag.Snippets)
            {
                <li>
                    <div>@snippet.Title</div>
                    <div>@snippet.Code</div>
                </li>
            }
        </ul>
    }
}
else
{
    <div>Please login to see snippets!</div>
}
</div>